## Fetching the Stock Price Data for the Auto Sector

In [19]:
# Load libraries
import pandas as pd
import pandas_datareader as dr
import numpy as np

In [20]:
#import numpy as np
#tickers = np.array(['MARUTI.NS','M&M.NS','TATAMOTORS.NS','BAJAJ-AUTO.NS','EICHERMOT.NS','HEROMOTOCO.NS','TIINDIA.NS','ASHOKLEY.NS','BHARATFORG.NS', 'BALKRISIND.NS'])
#tickers

In [21]:
stocklist=['INFY','TCS','WIPRO','TECHM','HCLTECH','LTIM','PERSISTENT','COFORGE','MPHASIS','LT']
tickers=np.array([i + '.NS' for i in stocklist])
tickers

array(['INFY.NS', 'TCS.NS', 'WIPRO.NS', 'TECHM.NS', 'HCLTECH.NS',
       'LTIM.NS', 'PERSISTENT.NS', 'COFORGE.NS', 'MPHASIS.NS', 'LT.NS'],
      dtype='<U13')

In [22]:
from yahoofinancials import YahooFinancials

In [23]:
yahoo_financials = YahooFinancials(tickers)

In [24]:
test = yahoo_financials.get_historical_price_data(start_date='2019-07-1', 
                                                  end_date='2023-06-30', 
                                                  time_interval='daily')

In [25]:
prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['close'] for x in test[a]['prices']} for a in tickers})

In [26]:
prices_df.head()

,INFY.NS,TCS.NS,WIPRO.NS,TECHM.NS,HCLTECH.NS,LTIM.NS,PERSISTENT.NS,COFORGE.NS,MPHASIS.NS,LT.NS
2019-07-01,731.299988,2239.550049,282.000000,704.650024,524.549988,1841.250000,616.150024,1350.699951,990.700012,1556.650024
2019-07-02,740.000000,2252.100098,284.250000,711.650024,530.000000,1764.699951,611.700012,1345.849976,972.650024,1563.849976
2019-07-03,731.299988,2237.649902,282.850006,701.099976,525.599976,1735.199951,615.799988,1333.650024,988.950012,1578.050049
2019-07-04,733.799988,2242.649902,283.850006,700.599976,520.375000,1655.800049,620.599976,1338.150024,994.400024,1571.699951
2019-07-05,718.000000,2163.100098,271.850006,681.099976,508.200012,1665.699951,627.200012,1323.500000,981.950012,1558.349976

In [27]:
prices_df.to_csv('IT.csv')