## Fetching the Stock Price Data for the Auto Sector

In [9]:
# Load libraries
import pandas as pd
import pandas_datareader as dr

In [10]:
import numpy as np
tickers = np.array(['MARUTI.NS','M&M.NS','TATAMOTORS.NS','BAJAJ-AUTO.NS','EICHERMOT.NS','HEROMOTOCO.NS','TIINDIA.NS','ASHOKLEY.NS','BHARATFORG.NS', 'BALKRISIND.NS'])
tickers

array(['MARUTI.NS', 'M&M.NS', 'TATAMOTORS.NS', 'BAJAJ-AUTO.NS',
       'EICHERMOT.NS', 'HEROMOTOCO.NS', 'TIINDIA.NS', 'ASHOKLEY.NS',
       'BHARATFORG.NS', 'BALKRISIND.NS'], dtype='<U13')

In [11]:
from yahoofinancials import YahooFinancials

In [12]:
yahoo_financials = YahooFinancials(tickers)

In [13]:
data = yahoo_financials.get_historical_price_data(start_date='2016-01-01', 
                                                  end_date='2021-12-31', 
                                                  time_interval='daily')

In [14]:
prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['close'] for x in data[a]['prices']} for a in tickers})

In [15]:
prices_df.head()

,MARUTI.NS,M&M.NS,TATAMOTORS.NS,BAJAJ-AUTO.NS,EICHERMOT.NS,HEROMOTOCO.NS,TIINDIA.NS,ASHOKLEY.NS,BHARATFORG.NS,BALKRISIND.NS
2016-01-01,4638.500000,632.674988,401.899994,2518.000000,1737.084961,2686.050049,NaN,88.800003,443.850006,325.075012
2016-01-04,4580.649902,621.250000,377.049988,2483.350098,1749.530029,2637.800049,NaN,92.000000,435.450012,326.024994
2016-01-05,4566.950195,624.599976,374.450012,2502.350098,1715.989990,2616.850098,NaN,93.099998,428.725006,326.174988
2016-01-06,4480.799805,613.075012,365.899994,2485.500000,1752.505005,2578.199951,NaN,92.699997,438.174988,326.674988
2016-01-07,4267.899902,598.724976,343.549988,2419.250000,1703.564941,2520.100098,NaN,91.349998,412.325012,326.274994

In [16]:
prices_df.to_csv('auto.csv')