## Fetching the Stock Price Data for the Auto Sector

In [10]:
# Load libraries
import pandas as pd
import pandas_datareader as dr
import numpy as np

In [11]:
#import numpy as np
#tickers = np.array(['MARUTI.NS','M&M.NS','TATAMOTORS.NS','BAJAJ-AUTO.NS','EICHERMOT.NS','HEROMOTOCO.NS','TIINDIA.NS','ASHOKLEY.NS','BHARATFORG.NS', 'BALKRISIND.NS'])
#tickers

In [12]:
stocklist=['M&M','MARUTI','TATAMOTORS','BAJAJ-AUTO','EICHERMOT','HEROMOTOCO','TIINDIA','TVSMOTOR','ASHOKLEY','BHARATFORG']
tickers=np.array([i + '.NS' for i in stocklist])
tickers

array(['M&M.NS', 'MARUTI.NS', 'TATAMOTORS.NS', 'BAJAJ-AUTO.NS',
       'EICHERMOT.NS', 'HEROMOTOCO.NS', 'TIINDIA.NS', 'TVSMOTOR.NS',
       'ASHOKLEY.NS', 'BHARATFORG.NS'], dtype='<U13')

In [13]:
from yahoofinancials import YahooFinancials

In [14]:
yahoo_financials = YahooFinancials(tickers)

In [15]:
test = yahoo_financials.get_historical_price_data(start_date='2019-07-1', 
                                                  end_date='2023-06-30', 
                                                  time_interval='daily')

In [16]:
prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['close'] for x in test[a]['prices']} for a in tickers})

In [17]:
prices_df.head()

,M&M.NS,MARUTI.NS,TATAMOTORS.NS,BAJAJ-AUTO.NS,EICHERMOT.NS,HEROMOTOCO.NS,TIINDIA.NS,TVSMOTOR.NS,ASHOKLEY.NS,BHARATFORG.NS
2019-07-01,660.000000,6507.850098,168.000000,2911.949951,1962.530029,2616.500000,387.500000,435.549988,87.099998,457.600006
2019-07-02,666.250000,6560.000000,163.750000,2883.550049,2013.744995,2597.050049,389.600006,430.500000,87.849998,460.100006
2019-07-03,669.250000,6533.799805,162.300003,2897.750000,1965.010010,2587.500000,387.200012,435.000000,90.300003,462.750000
2019-07-04,672.150024,6544.450195,165.199997,2894.800049,1982.540039,2606.149902,386.700012,432.350006,89.949997,475.950012
2019-07-05,642.049988,6360.000000,160.199997,2842.550049,1964.510010,2512.300049,386.899994,424.299988,87.050003,458.100006

In [18]:
prices_df.to_csv('auto.csv')