## Fetching the Stock Price Data for the Auto Sector

In [1]:
# Load libraries
import pandas as pd
import pandas_datareader as dr
import numpy as np

In [2]:
#import numpy as np
#tickers = np.array(['MARUTI.NS','M&M.NS','TATAMOTORS.NS','BAJAJ-AUTO.NS','EICHERMOT.NS','HEROMOTOCO.NS','TIINDIA.NS','ASHOKLEY.NS','BHARATFORG.NS', 'BALKRISIND.NS'])
#tickers

In [3]:
stocklist=['M&M','MARUTI','TATAMOTORS','BAJAJ-AUTO','EICHERMOT','HEROMOTOCO','TIINDIA','TVSMOTOR','ASHOKLEY','BHARATFORG']
tickers=np.array([i + '.NS' for i in stocklist])
tickers

array(['M&M.NS', 'MARUTI.NS', 'TATAMOTORS.NS', 'BAJAJ-AUTO.NS',
       'EICHERMOT.NS', 'HEROMOTOCO.NS', 'TIINDIA.NS', 'TVSMOTOR.NS',
       'ASHOKLEY.NS', 'BHARATFORG.NS'], dtype='<U13')

In [6]:
from yahoofinancials import YahooFinancials

In [7]:
yahoo_financials = YahooFinancials(tickers)

In [12]:
test = yahoo_financials.get_historical_price_data(start_date='2022-06-1', 
                                                  end_date='2023-07-30', 
                                                  time_interval='daily')

In [13]:
prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['close'] for x in test[a]['prices']} for a in tickers})

In [14]:
prices_df.head()

,M&M.NS,MARUTI.NS,TATAMOTORS.NS,BAJAJ-AUTO.NS,EICHERMOT.NS,HEROMOTOCO.NS,TIINDIA.NS,TVSMOTOR.NS,ASHOKLEY.NS,BHARATFORG.NS
2022-06-01,1047.349976,7939.399902,444.600006,3720.100098,2771.699951,2757.600098,1599.949951,737.200012,139.899994,694.250000
2022-06-02,1044.550049,7925.399902,439.149994,3688.699951,2723.550049,2663.100098,1580.000000,738.750000,143.500000,684.799988
2022-06-03,1028.650024,7705.049805,431.899994,3672.699951,2685.250000,2583.750000,1566.599976,730.299988,139.500000,659.000000
2022-06-06,1035.949951,7710.549805,432.350006,3817.000000,2653.100098,2540.750000,1566.250000,728.700012,138.399994,649.099976
2022-06-07,1042.550049,7809.399902,435.850006,3834.100098,2647.899902,2570.850098,1550.800049,744.049988,139.750000,653.500000

In [11]:
prices_df.to_csv('auto.csv')